<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>c095c77706004f6aa4fb6a0fefe447a7</string>
	<key>API_KEY2</key>
	<string>ce61197ae53845159f4f3a9db365fbaf</string>
</dict>
</plist>
